<%@ include file="/jsp/jspf/page.jspf" %>
<%@ include file="/jsp/jspf/include.jspf" %>

<script>
    $(function () {
        $("#datepicker").datepicker({
            format: "dd-mm-yy",
            dateFormat: "dd-mm-yy",
            showOtherMonths: true,
            selectOtherMonths: true,
            changeMonth: true,
            changeYear: true,
            maxDate: '+12M -16Y'
        });
    });
</script>